## Identifying churning customers via ANN

### Importing the libraries

In [ ]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [ ]:
tf.__version__

'2.8.2'

1. Data Preprocessing

Importing dataset

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/data/churncustomers/Churn_Modelling.csv')
df.drop(['RowNumber','CustomerId', 'Surname'], inplace=True, axis=1)
X = df.iloc[:, :-1]
y = df.iloc[:, -1]

In [ ]:
X

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78

In [ ]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

Encoding categorical data

Label encoding the 'Gender' column

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X['Gender'] = le.fit_transform(X['Gender'])

In [ ]:

X[:2]

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,0,42,2,0.00,1,1,1,101348.88
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58

One hot encoding Geography column

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
transformer = ColumnTransformer([('onehot', OneHotEncoder(), ['Geography'])], remainder='passthrough')
X = pd.DataFrame(transformer.fit_transform(X))

In [ ]:
X

,0,1,2,3,4,5,6,7,8,9,10,11
0,1.0,0.0,0.0,619.0,0.0,42.0,2.0,0.00,1.0,1.0,1.0,101348.88
1,0.0,0.0,1.0,608.0,0.0,41.0,1.0,83807.86,1.0,0.0,1.0,112542.58
2,1.0,0.0,0.0,502.0,0.0,42.0,8.0,159660.80,3.0,1.0,0.0,113931.57
3,1.0,0.0,0.0,699.0,0.0,39.0,1.0,0.00,2.0,0.0,0.0,93826.63
4,0.0,0.0,1.0,850.0,0.0,43.0,2.0,125510.82,1.0,1.0,1.0,79084.10
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1.0,0.0,0.0,771.0,1.0,39.0,5.0,0.00,2.0,1.0,0.0,96270.64
9996,1.0,0.0,0.0,516.0,1.0,35.0,10.0,57369.61,1.0,1.0,1.0,101699.77
9997,1.0,0.0,0.0,709.0,0.0,36.0,7.0,0.00,1.0,0.0,1.0,42085.58
9998,0.0,1.0,0.0,772.0,1.0,42.0,3.0,75075.31,2.0,1.0,0.0,92888.52
9999,1.0,0.0,0.0,792.0,0.0,28.0,4.0,130142.79,1.0,1.0,0.0,38190.78

Splitting data into training and test

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

Feature scaling

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

2. Building the ANN

Initializing ANN

In [ ]:
ann = tf.keras.models.Sequential()

Adding input layer and first hidden layer

In [ ]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

Adding second hidden layer

In [ ]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

Adding the output layer

In [ ]:
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

3. Training the ANN

Compiling the ANN

In [ ]:
ann.compile(optimizer = tf.keras.optimizers.Adam(), loss = 'binary_crossentropy', metrics = ['accuracy'])

Training the ANN on training set

In [ ]:
ann.fit(X_train, y_train, batch_size = 32, epochs = 100)

Epoch 1/100
250/250 [==============================] - 1s 1ms/step - loss: 0.5297 - accuracy: 0.7945
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4585 - accuracy: 0.8008
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4430 - accuracy: 0.8034
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4371 - accuracy: 0.8041
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4329 - accuracy: 0.8079
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4294 - accuracy: 0.8109
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4267 - accuracy: 0.8160
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4236 - accuracy: 0.8194
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4212 - accuracy: 0.8210
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4185 - accuracy: 0.8231
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4163 - accuracy: 0.8234
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4144 - accuracy: 0.8264
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4123 - accuracy: 0.8266
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4109 - accuracy: 0.8275
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4097 - accuracy: 0.8292
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4088 - accuracy: 0.8284
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4079 - accuracy: 0.8292
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4070 - accuracy: 0.8295
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4064 - accuracy: 0.8301
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4056 - accuracy: 0.8316
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4048 - accuracy: 0.8321
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4042 - accuracy: 0.8321
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4035 - accuracy: 0.8317
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4029 - accuracy: 0.8326
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4023 - accuracy: 0.8334
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4020 - accuracy: 0.8315
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4014 - accuracy: 0.8329
Epoch 28/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4011 - accuracy: 0.8341
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4006 - accuracy: 0.8335
Epoch 30/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4001 - accuracy: 0.8342
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3997 - accuracy: 0.8361
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3994 - accuracy: 0.8322
Epoch 33/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3990 - accuracy: 0.8329
Epoch 34/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3985 - accuracy: 0.8332
Epoch 35/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3980 - accuracy: 0.8345
Epoch 36/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3975 - accuracy: 0.8345
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3974 - accuracy: 0.8350
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3964 - accuracy: 0.8353
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3953 - accuracy: 0.8357
Epoch 40/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3945 - accuracy: 0.8360
Epoch 41/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3930 - accuracy: 0.8347
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3918 - accuracy: 0.8353
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3904 - accuracy: 0.8356
Epoch 44/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3893 - accuracy: 0.8363
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3878 - accuracy: 0.8353
Epoch 46/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3865 - accuracy: 0.8354
Epoch 47/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3849 - accuracy: 0.8353
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3833 - accuracy: 0.8355
Epoch 49/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3816 - accuracy: 0.8361
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3801 - accuracy: 0.8357
Epoch 51/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3787 - accuracy: 0.8366
Epoch 52/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3778 - accuracy: 0.8363
Epoch 53/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3765 - accuracy: 0.8371
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3753 - accuracy: 0.8374
Epoch 55/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3748 - accuracy: 0.8401
Epoch 56/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3737 - accuracy: 0.8405
Epoch 57/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3733 - accuracy: 0.8419
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3721 - accuracy: 0.8418
Epoch 59/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3715 - accuracy: 0.8410
Epoch 60/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3710 - accuracy: 0.8414
Epoch 61/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3700 - accuracy: 0.8419
Epoch 62/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3695 - accuracy: 0.8440
Epoch 63/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3693 - accuracy: 0.8431
Epoch 64/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3685 - accuracy: 0.8439
Epoch 65/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3680 - accuracy: 0.8430
Epoch 66/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3676 - accuracy: 0.8456
Epoch 67/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3672 - accuracy: 0.8459
Epoch 68/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3668 - accuracy: 0.8445
Epoch 69/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3665 - accuracy: 0.8462
Epoch 70/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3661 - accuracy: 0.8461
Epoch 71/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3658 - accuracy: 0.8470
Epoch 72/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3654 - accuracy: 0.8469
Epoch 73/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3652 - accuracy: 0.8479
Epoch 74/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3647 - accuracy: 0.8474
Epoch 75/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3642 - accuracy: 0.8470
Epoch 76/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3642 - accuracy: 0.8474
Epoch 77/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3642 - accuracy: 0.8479
Epoch 78/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3635 - accuracy: 0.8491
Epoch 79/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3632 - accuracy: 0.8486
Epoch 80/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3631 - accuracy: 0.8484
Epoch 81/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3627 - accuracy: 0.8493
Epoch 82/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3626 - accuracy: 0.8494
Epoch 83/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3620 - accuracy: 0.8505
Epoch 84/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3617 - accuracy: 0.8504
Epoch 85/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3613 - accuracy: 0.8511
Epoch 86/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3608 - accuracy: 0.8504
Epoch 87/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3605 - accuracy: 0.8512
Epoch 88/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3603 - accuracy: 0.8521
Epoch 89/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3598 - accuracy: 0.8509
Epoch 90/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3594 - accuracy: 0.8501
Epoch 91/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3588 - accuracy: 0.8509
Epoch 92/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3586 - accuracy: 0.8519
Epoch 93/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3581 - accuracy: 0.8503
Epoch 94/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3577 - accuracy: 0.8515
Epoch 95/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3575 - accuracy: 0.8522
Epoch 96/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3568 - accuracy: 0.8514
Epoch 97/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3567 - accuracy: 0.8521
Epoch 98/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3560 - accuracy: 0.8533
Epoch 99/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3560 - accuracy: 0.8515
Epoch 100/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3555 - accuracy: 0.8515

Evaluating our ann model

In [ ]:
y_preds = ann.predict(X_test)

def preds(val):
  if val> 0.5:
    val = 1
  else:
    val = 0
  return val
y_preds = list(map(preds, y_preds))
y_preds = np.array(y_preds)

In [ ]:
y_preds

array([0, 0, 0, ..., 0, 1, 0])

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score
print(confusion_matrix(y_test, y_preds))

print(accuracy_score(y_test, y_preds))

[[1543   52]
 [ 237  168]]
0.8555

Testing for prediction

In [ ]:
pred = ann.predict(sc.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]]))
print(pred>0.5)

[[False]]